.navbar {
    background-color: red!important;
}

.jumbotron {
    background-color: red!important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-primary {
    background-color: red;
    border-color: red;
}

.btn-primary:hover {
    background-color: darkred;
    border-color: darkred;
}

.btn-primary:active {
    background-color: darkred!important;
    border-color: darkred!important;
    box-shadow: 0 0 0 0.2rem salmon!important;
}

.btn-primary:focus {
    background-color: red;
    border-color: red;
    box-shadow: 0 0 0 0.2rem salmon!important;
}

.form-control:focus {
    border-color: red;
    box-shadow: 0 0 0 0.2rem red;
}

.input-filled-valid {
    border-color: darkred;
    box-shadow: 0 0 0 0.2rem darkred;
}

h1 {
    font-family: sans-serif;
    font-size: 70px;
}

h2 {
    padding-top: 10px;
}

h1, h2 {
    font-family: monospace;
}

a {
    color: red;
}

p, li {
    font-size: 21px;
}

canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: grabbing;
}

a:hover {
    color: darkred;
}

.timing {
    line-height: 3em;
    font-size: 30px;
}

.my-footer {
    padding-top: 10px;
}